/*
 * Global Styles
 */

html, body {
    margin: 0; padding: 0;
    min-height: 100%;
}

html {
    position: relative;
}

body {
    /*background: url(../images/page_bg_sprite.jpg) top repeat-x rgb(180,180,180);*/
    background: #8baeb2; /* Old browsers */
    background: -moz-radial-gradient(center bottom, ellipse cover,  #8baeb2 0%, #516066 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center bottom, 0px, center center, 100%, color-stop(0%,#8baeb2), color-stop(100%,#516066)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center bottom, ellipse cover,  #8baeb2 0%,#516066 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center bottom, ellipse cover,  #8baeb2 0%,#516066 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center bottom, ellipse cover,  #8baeb2 0%,#516066 100%); /* IE10+ */
    background: radial-gradient(ellipse at center bottom,  #8baeb2 0%,#516066 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8baeb2', endColorstr='#516066',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    font-family: Arial, Helvetica, Verdana, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #222222;
}

a,
a:visited {
    color: #990000;
    text-decoration: none;
}

a:hover {
    color: #CC0000;
    text-decoration: none;
}

a:active {
    color: #CCCCCC;
    text-decoration: none;
}

h1 {
    font-family: "Trebuchet MS", Tahoma, Arial, sans-serif;
    font-weight: normal;
    font-size: 44px;
    font-weight: bold;
    color: #fff;
    text-shadow: 4px 4px 2px rgba(60, 60, 60, 0.8);
}

h2 {
    font-weight: normal;
    font-size: 16px;
    color: #222222;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    padding: 10px;
}

fieldset {
    border: 0;
}

/*
 * Main Page structure
 */

div#wrapper {
    width: 960px;
    min-height: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

#wrapper div {
    padding: 15px 0;
}

div#header {
    width: inherit;
    height: 150px;
    margin: 0 0 -50px;
}

#note {
	color: #333;
	font-size: 12px;
	margin: 0 auto;
	padding: 2px;
	text-align: center;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
	width: 400px;
}

#wrapper #status {
  background: #686868; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #686868 0%, #4f4f4f 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#686868), color-stop(100%,#4f4f4f)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  #686868 0%,#4f4f4f 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  #686868 0%,#4f4f4f 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  #686868 0%,#4f4f4f 100%); /* IE10+ */
  background: linear-gradient(135deg,  #686868 0%,#4f4f4f 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#686868', endColorstr='#4f4f4f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  width: 300px;
  margin: 0 auto;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, .9);
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, .9);
  border: 1px solid #777777;
  border-width: 1px 0 0 1px;
  padding: 15px 10px;
  color: #CECECE;
}

#status strong {
  color: #EEEEEE;
}

#status label {
  display: block;
  color: #AAAAAA;
  font-size: 12px;
}

#status hr {
    width: 250px;
}

#wrapper #status .hidden_hover {
    margin: 5px 0;
    padding: 5px;
    color: #666;
    background: #666;
}

#wrapper #status .hidden_hover:hover {
    font-weight: bold;
    margin: 5px 0;
    padding: 5px;
    color: inherit;
    background: none;
}

/*
 * Specific Elements
 */

input.big_button {
    -moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
    -webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
    box-shadow:inset 0px 1px 0px 0px #bbdaf7;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
    background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
    background-color:#79bbff;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #84bbf3;
    border-width: 1px 0 0 1px;
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:1px 1px 0px #528ecc;
    height: 50px; width: 200px;
    margin-top: 20px;
}
input.big_button:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
    background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
    background-color:#378de5;
}
input.big_button:active {
    position:relative;
    top:1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */

#killcode {
  text-transform:uppercase;
  width: 200px;
  border: 1px solid #FFFFFF;
  background-color: #EBE5E5;
  color: red;
  text-align: center;
  margin: 5px;
  padding: 3px 5px;
  font-size: 20px;
}